

header{
    background: #383D58;
    color:white;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.cabecalho-img{
    width: 250px;

}

.cabecalho{
    background-color: #383D58;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    font-size: 24px;
}

.cabecalho-listem{
    display: inline-block;
    margin: 0 16px;
    padding: 50px 0;
    font-size: 34px;
}

.escola1{
    padding-bottom: 26px;
}

*{
    margin: 0;
    padding: 0;
}

.notebook-img{
    width: 30%;
    color: white;
    display: flex;
}

.escola{
    background-image: linear-gradient(#383D58, rgba(79, 153, 238, 0.543));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}

.alicone{
    width: 30px;
    
}

.aluno-div{
    text-align: center;
}

.aluno-titulo{
    text-align: center;
    padding: 50px 0;
}
